{% extends 'base.html' %}
{% load formtags %}

{% block sidebar %}{% endblock %}
{% block bd %}{% endblock %}

{% block content %}


    <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box transparent">
                    <form action="." method="POST">
                        {% csrf_token %}
                    <div class="widget-header widget-header-flat border-none">
                        <h4 class="widget-title lighter">
                            <i class="ace-icon fa fa-star orange"></i>
                            Nova Ordem de Serviço
                        </h4>

                        <div class="widget-toolbar">
                            <a href="{% url 'main:list_os' %}">
                                <i class="fa fa-times"></i>
                                Cancelar
                            </a>
                        </div>

                        <div class="widget-toolbar">
                            <button class="btn btn-link" type="submit">
                                <i class="fa fa-floppy-o"></i>
                                Salvar
                            </button>
                        </div>

                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="col-sm-6 col-sm-offset-2">
                                <div>
                                    <label for="id_business">Empresa</label>
                                    <div class='input-group {% if form.business.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ form.business|placeholder:"Empresa" | addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ form.business.errors|join:"<br \>" }}</span>
                                </div>
                                <div class="space-6"></div>
                                <div>
                                    <label for="id_title">Titulo</label>
                                    <div class='input-group {% if form.title.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ form.title|placeholder:"Titulo da OS" |addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ form.title.errors|join:"<br \>" }}</span>
                                </div>

                                <div class="space-6"></div>
                                <div>
                                    <label for="id_description">Descrição</label>
                                    <div class='input-group {% if form.description.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ form.description|placeholder:"Descrição da OS" | textarea:"4" | addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ form.description.errors|join:"<br \>" }}</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    </form>
                </div>
            </div>

    </div><!-- /.row -->

{% endblock %}