{% extends 'base.html' %}
{% load formtags %}

{% block sidebar %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block bd %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box transparent">
                    <form action="." method="POST">
                        {% csrf_token %}
                    <div class="widget-header widget-header-flat border-none">
                        <h4 class="widget-title lighter">
                            <i class="ace-icon fa fa-star orange"></i>
                            Nova Empresa
                        </h4>

                        <div class="widget-toolbar">
                            <a href="{% url 'accounts:create_account' %}">
                                <i class="fa fa-times"></i>
                                Cancelar
                            </a>
                        </div>

                        <div class="widget-toolbar">
                            <button class="btn btn-link" type="submit">
                                <i class="fa fa-floppy-o"></i>
                                Salvar
                            </button>
                        </div>

                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="col-sm-6 col-sm-offset-2">
                                <div>
                                    <label for="id_name">Nome</label>
                                    <div class='input-group {% if business_form.name.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ business_form.name|placeholder:"Nome Empresa" | addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ business_form.name.errors|join:"<br \>" }}</span>
                                </div>
                                <div class="space-6"></div>
                                <div>
                                    <label for="id_description">Ramo de Atução</label>
                                    <div class='input-group {% if business_form.description.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ business_form.description|placeholder:"Codigo ou descrição da venda" | textarea:"4" | addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ business_form.description.errors|join:"<br \>" }}</span>
                                </div>
                                <div>
                                    <label for="id_username">Username</label>
                                    <div class='input-group {% if user_form.username.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ user_form.username|placeholder:"usuario" | addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ user_form.username.errors|join:"<br \>" }}</span>
                                </div>
                                <div>
                                    <label for="id_password1">Senha</label>
                                    <div class='input-group {% if user_form.password1.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ user_form.password1|placeholder:"senha" | addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ user_form.password1.errors|join:"<br \>" }}</span>
                                </div>
                                <div>
                                    <label for="id_password2">Repetir Senha</label>
                                    <div class='input-group {% if user_form.password2.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ user_form.password2|placeholder:"repetir senha" | addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ user_form.password2.errors|join:"<br \>" }}</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    </form>
                </div>
            </div>

    </div><!-- /.row -->

{% endblock %}