{% extends 'base.html' %}
{% load formtags %}

{% block bd %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}


    <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="widget-box transparent">
                    <form action="." method="POST">
                        {% csrf_token %}
                    <div class="widget-header widget-header-flat border-none">
                        <h4 class="widget-title lighter">
                            <i class="ace-icon fa fa-star orange"></i>
                            Assinar OS
                        </h4>

                        <div class="widget-toolbar">
                            <a href="{% url 'lawyer:list_os' %}">
                                <i class="fa fa-times"></i>
                                Cancelar
                            </a>
                        </div>

                        <div class="widget-toolbar">
                            <button class="btn btn-link" type="submit">
                                <i class="fa fa-floppy-o"></i>
                                Salvar
                            </button>
                        </div>

                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            {% include 'messages.html' %}
                            <div class="col-sm-6 col-sm-offset-2">
                                <div>
                                    <label for="id_order_service">Os</label>
                                    <div class='input-group {% if form.order_service.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        <select name="order_service" class="form-control" required="" id="id_order_service">
                                        <option value="{{ os.pk }}" selected="">{{ os }}</option>
                                        </select>
                                    </div>
                                    <span class="error text-danger">{{ form.order_service.errors|join:"<br \>" }}</span>
                                </div>
                                <div class="space-6"></div>
                                <div>
                                    <label for="id_price">Preço</label>
                                    <div class='input-group {% if form.price.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ form.price|placeholder:"1999" |addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ form.price.errors|join:"<br \>" }}</span>
                                </div>
                                <div class="space-6"></div>

                                <div class="space-6"></div>
                                <div>
                                    <label for="id_description">Descrição</label>
                                    <div class='input-group {% if form.description.errors %}has-error{% endif %}'>
                                        <div class='input-group-addon'>
                                            <i class='ace-icon fa fa-credit-card'></i>
                                        </div>
                                        {{ form.description|placeholder:"Codigo ou descrição da venda" | textarea:"4" | addcss:"form-control" }}
                                    </div>
                                    <span class="error text-danger">{{ form.description.errors|join:"<br \>" }}</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    </form>
                </div>
            </div>

    </div><!-- /.row -->

{% endblock %}